/****************************************************
 * index.css
 * @author Jake Runyan
 * @desc The CSS portion of / for the website.
 *//*************************************************/
 
div.page-background {
    background-color: red;
    width:100px;
} 
div.page-header {
    background-color: orange;
}
div.page-main {
    background-color: yellow;
}
div.page-secondary {
    background-color: green;
}
div.page-bottom {
    background-color: blue;
}

div.parallax {
    /* The image used */
    /* background-image: url("data/vball-loqual.png"); */

    /* Set a specific height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}