/****************************************************
 * index.css
 * @author Jake Runyan
 * @desc The CSS portion of / for the website.
 *//*************************************************/

 /* Allow 100% for parallax slider */
/* body, html {
    height: 100%;
} */

div.page-background {
    background-color: red;
    width:100px;
} 
div.page-header {
    background-color: orange;
}
div.page-main {
    background-color: yellow;
}
div.page-secondary {
    background-color: green;
}
div.page-bottom {
    background-color: blue;
}

.landingimage {
    background-image: url('../data/trees.jpg');
    /* min-height: 100%; */
    min-height: 1000px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

div.aboutme {
    background-color: aquamarine;
    height: 400px;
}

a.hover {
    color: hotpink;
}

a.link { 
    padding-left: 2%;
}